{% macro html_footer() %}
<footer>
    <p>I'm Karl Lorey–Techie, Founder, and Investor living in Karlsruhe, Germany. Let's get in touch.</p>
    <p class="lead socials">
            <a href="https://angel.co/karllorey" target="_blank"><i class="fab fa-angellist"></i></a>
            <a href="https://www.crunchbase.com/person/karl-lorey" target="_blank"><i class="fas fa-cube"></i></a>
            <a href="https://github.com/lorey" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://gitlab.com/lorey" target="_blank"><i class="fab fa-gitlab"></i></a>
            <a href="https://www.goodreads.com/karllorey" target="_blank"><i class="fab fa-goodreads"></i></a>
            <a href="https://www.instagram.com/karllorey" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/karllorey" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://medium.com/@karllorey" target="_blank"><i class="fab fa-medium"></i></a>
            <a href="https://www.meetup.com/members/196097665/" target="_blank"><i class="fab fa-meetup"></i></a>
            <a href="https://www.producthunt.com/@karllorey" target="_blank"><i class="fab fa-product-hunt"></i></a>
            <a href="https://www.researchgate.net/profile/Karl_Lorey" target="_blank"><i class="fab fa-researchgate"></i></a>
            <a href="https://twitter.com/karllorey" target="_blank"><i class="fab fa-twitter"></i></a>
    </p>
    <p>
        This site uses cookies and external services to improve your experience.<br>
        At least if you don't refuse by sending <a href="http://randomwalker.info/donottrack-archive/" target="_blank">Do Not Track</a>.
    </p>
    <p>© Copyright {{ now.year }} by Karl Lorey. <a href="http://karllorey.de/impressum" target="_blank">Legal/Imprint</a>.</p>
</footer>
{% endmacro %}