{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'math_helper.tmpl' as math with context %}
{% extends 'post.tmpl' %}

{% block content %}
    <article class="post-{{ post.meta('type') }} storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
        <header>
            {{ pheader.html_title() }}
            {{ pheader.html_translations(post) }}
        </header>
        <div class="e-content entry-content" itemprop="articleBody text">
            {{ post.text() }}
        </div>

        <hr class="mt-5 mb-5">
        <div>
            {% if post.parent and post.parent.permalink() != '/' %}
                <p>Parent: <a href="{{ post.parent.permalink() }}">{{ post.parent.title() }}</a></p>
            {% endif %}

            {% if post.subpages %}
                Subpages:
                <ul>
                    {% for page in post.subpages %}
                        <li><a href="{{ page.permalink() }}">{{ page.title()|e }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No subpages</p>
            {% endif %}
        </div>

        {% if site_has_comments and enable_comments and not post.meta('nocomments') %}
            <section class="comments">
                <h2>{{ messages("Comments") }}</h2>
                {{ comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path) }}
            </section>
        {% endif %}
        {{ math.math_scripts_ifpost(post) }}
    </article>
{% endblock %}
