@import '@fontsource/playfair-display';
@import '@fontsource/lato';
@import 'tailwindcss';

@layer base {
  body {
    @apply bg-white text-gray-400;
    font-family: 'Lato', sans-serif;
  }

  a {
    @apply text-gray-700 hover:underline hover:text-gray-900;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-700 mt-3;
    font-family: 'Playfair Display', serif;
  }

  h1 {
    @apply text-4xl mt-10 mb-3;
  }

  h2 {
    @apply text-3xl mt-5 mb-1;
  }

  h3 {
    @apply text-2xl mt-3 mb-1;
  }

  h4 {
    @apply text-xl mt-1 mb-0;
  }

  p {
    @apply pb-5;
  }

  hr {
    @apply border-gray-200;
  }

  header .title {
    @apply text-7xl;
    font-family: 'Playfair Display', serif;
  }
}

/* Scope list styles to markdown content only */
.markdown ul {
  @apply list-disc list-outside;
}

.markdown ol {
  @apply list-decimal list-outside;
}

.markdown li {
  @apply ml-5;
}
