{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h1>Blog</h1>
  <p>I'm not an actual writer since I'm not very good at it.
    Thus, I rarely write articles.
    But from time to time, I might feel the need to write something down.
    Be it for myself, later reference, or just for fun.
  </p>
  <p class="mb-0">
    What I've written so far:
  </p>
  <ul>
  {% for child in this.pagination.items %}
    <li><a href="{{ child|url }}">{{ child.title }}</a></li>
  {% endfor %}
  </ul>

  {{ render_pagination(this.pagination) }}
{% endblock %}
