<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock %} — Karl Lorey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <script>
      var dnt = navigator.doNotTrack || window.doNotTrack || navigator.msDoNotTrack;
      if (dnt != "1" && dnt != "yes") {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

        __gaTracker('create', 'UA-73074199-1', 'auto');
        __gaTracker('set', 'forceSSL', true);
        __gaTracker('set', 'anonymizeIp', true);
        __gaTracker('send','pageview');
      } else {
        console.debug("Respecting Do-Not-Track, not loading analytics. See https://www.paulfurley.com/google-analytics-dnt/");
      }
    </script>
</head>
<body>
<header>
    <p class="display-1"><a href="/">Karl Lorey</a></p>
    <nav>
        <ul class="nav justify-content-center">
            {% for href, title in bag('nav').items() %}
            <li class="nav-link{% if this.is_child_of(href) %} active{% endif %}">
                <a href="{{ href|url }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<div class="page">
    <hr style="margin-bottom: 50px">
    {% block body %}{% endblock %}
    <hr style="margin-top: 50px">
</div>
<footer>
    <p>I'm Karl Lorey&ndash;Techie, Founder, and Investor living in Karlsruhe, Germany. Let's get in touch.</p>
    <p class="lead socials">
        {% for key, social in bag('socials').items() %}
            <a href="{{ social['url'] }}" target="_blank"><i class="{{ social['icon-classes'] }}"></i></a>
        {% endfor %}
    </p>
    <p>
        This site uses cookies and external services to improve your experience.<br>
        At least if you don't refuse by sending <a href="http://randomwalker.info/donottrack-archive/" target="_blank">Do Not Track</a>.
    </p>
    <p>&copy; Copyright 2018 by Karl Lorey. <a href="http://karllorey.de/impressum" target="_blank">Legal/Imprint</a>.</p>
</footer>
</body>
