<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome{% endblock %} — Karl Lorey</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Playfair+Display:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
</head>
<body>
<header>
    <p class="display-1"><a href="/">Karl Lorey</a></p>
    <nav>
        <ul class="nav justify-content-center">
            {% for href, title in [
              ['/techie', 'Techie'],
              ['/founder', 'Founder'],
              ['/vc', 'Investor'],
              ['/speaker', 'Speaker'],
              ['/blog', 'Writer'],
              ['/human', 'Human'],
            ] %}
            <li class="nav-link{% if this.is_child_of(href) %} active{% endif %}">
                <a href="{{ href|url }}">{{ title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>
<div class="page">
    <hr style="margin-bottom: 50px">
    {% block body %}{% endblock %}
    <hr style="margin-top: 50px">
</div>
<footer>
    <p>I'm Karl Lorey&ndash;Techie, Founder, and Investor living in Karlsruhe, Germany. Let's get in touch.</p>
    <p class="lead">
        {% for key, social in bag('socials').items() %}
            <a href="{{ social['url'] }}" target="_blank"><i class="{{ social['icon-classes'] }}"></i></a>
        {% endfor %}
    </p>
    &copy; Copyright 2018 by Karl Lorey. <a href="http://karllorey.de/impressum" target="_blank">Legal/Imprint</a>.
</footer>
</body>
