body {
    margin: 50px 25px;
    color: #777;
    font-family: 'Roboto', sans-serif;
}

.display-1, h1, h2 {
    font-family: 'Playfair Display', serif;
}

a {
    color: #555;
}

a:hover {
    color: #333;
}

header, footer, div.page {
    width: 760px;
    margin: 0 auto;
    padding: 50px 30px;
}

header, footer {
    text-align: center;
}

header h1 {
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

footer {
    font-size: 75%;
}

footer p a {
    margin: 0 10px;
}