name: GitHub Pages deploy

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js 23.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x" # LTS
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build && touch ./out/.nojekyll
        env:
          NEXT_PUBLIC_COMMIT_SHA: ${{ github.sha }}
          NEXT_PUBLIC_COMMIT_DATE: ${{ github.event.head_commit.timestamp }}
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: out # The folder the action should deploy.
